body,p,section,nav,header,h2,h3,h4,h5{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li{
	list-style: none;
}
input{
	margin: 0;
	padding: 0;
	vertical-align: top;
}
button{
	outline: none;
}
img{
	border: none;
	vertical-align: middle;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
}
.center{
	width: 1200px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}









.hh2{
    color: #2a2a2a;
    margin-top: 30px;
    margin-bottom: 18px;
    font-size: 28px;
}
.dv{
	width: 187px;
	padding-bottom: 30px;
	display: inline-block;
	text-align: center;
	position: relative;
}
.rigdiv{
	width: 177px;
	height: 182px;
	padding: 40px 5px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	text-align: left;
	display: none;
	cursor: pointer;
}
.rigdiv p{
	line-height: 30px;
	font-size: 14px;
}
.imgs{
	width: 187px;
	height: 262px;
	margin-bottom: 20px;
	cursor: pointer;
}
.pp2s{
	font-size: 12px;
	padding: 5px 0;
	color: red;
}
.pp3s{
	color: deepskyblue;
	font-size: 12px;
	cursor: pointer;
}
.rigspa01{
	color: #fff;
	margin-right: 20px;
}
.rigspa02{
	color: #ddd;
}
.rigsp03{
	color: #fff;
	margin-top: 50px;
}
.rigsp04{
	color: #fff;
}
.rigsp05{
	color: gold;
}

.vipimg{
	position: absolute;
	right: 5px;
    top: 5px;
}








.sec_thr{
	height: 90px;
	overflow: hidden;
}
